.root{
    border: 1px solid rebeccapurple;
}

.price{
    float: right;
    color: #003267;
    font-size: 1.2rem;

    & > label {
        color: #003267;
        font-size: 1.2rem;
    }
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    position: relative;
    padding: 0;
    border: 0;

    & > * {
        flex: 1 0 auto;
    }

    @media (--only-tablet-screen) {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media (--only-mobile-screen) {
        flex-direction: column;
    }

    &.hasErrors {
        border-top-color: var(--errorColor);

        @media (--only-mobile-screen) {
            border-top-color: transparent;
        }
    }
}

